{{#with dataset}}
    <h2>{{this.name}}</h2>
    <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>

    <div class='dataset_div'>
{{#each displayData}}
    <div class="dataset_row" data-rowNr="{{this.rowNr}}">
        {{#each this.data}}
            <div class="{{this.class}}"><span class="header">{{this.column}}</span> {{this.value}}</div>
        {{/each}}
    </div>
{{/each}}
</div>

{{/with}}