{{#with dataset}}
<table  class='dataset_table'>
    <thead>
    <tr>{{#each columns}}
        <th class='{{this.style}}'>{{@key}}</th>
    {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each displayData}}
        <tr data-rowNr="{{this.rowNr}} ">
            {{#each this.data}}
                <td class="{{this.style}}">{{this.display}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
{{/with}}