{{#with dataset}}
    <h2>{{this.name}}</h2>
    <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>

    <div class="table">
<table  class='dataset_table'>
    <thead>
    <tr>{{#each columns}}
        <th class='{{this.class}}' data-colName="{{@key}}">{{this.header}}</th>
    {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each displayData}}
        <tr data-rowNr="{{this.rowNr}}" {{#if ../options.classColumn}}class="{{classColumn this.data ../options.classColumn}}"{{/if}}>
            {{#each this.data}}
                {{#if this.options.template}}
                    {{element this @root.dataset}}
                {{else}}
                    <td class="{{this.class}}">{{this.display}}</td>
                {{/if}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
</div>
{{/with}}