{{#with dataset}}
<div class="table">
<table  class='dataset_table'>
    <thead>
    <tr>{{#each columns}}
        <th class='{{this.style}}'>{{@key}}</th>
    {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each displayData}}
        <tr data-rowNr="{{this.rowNr}}" {{#if ../options.styleColumn}}class="{{styleColumn this.data ../options.styleColumn}}"{{/if}}>
            {{#each this.data}}
                <td class="{{this.style}}">{{this.display}}</td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>
</div>
{{/with}}