<div class='formField {{this.style}}'>

<label >{{this.columnOptions.header}}
    <select  name='{{this.column}}' value='{{this.value}}'>
        {{options columnOptions.lookup this.value}}
    </select>
</label>
</div>