    {{#each datasets}}
        <div id="dataset_{{this.name}}" class="{{this.options.style}}  data-src="{{this.url}}">
        <h2>{{this.name}}</h2>
    <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>
            {{{this.html}}}
        </div>
    {{/each}}
