<header>
    <h1 class="report_name">{{name}}</h1>
    <div>{{momentString}} Prof: {{profile}}ms  </div>
    {{> logo}}

    {{#each datasets}}
        {{#if this.position.header}}
            {{> serverDS}}
        {{/if}}
    {{/each}}
</header>

<nav>
    {{#each datasets}}
        {{#if this.position.nav}}
            {{> serverDS}}
        {{/if}}
    {{/each}}
</nav>

<main >
    {{#each datasets}}
        {{#if this.position.main}}
            {{> serverDS}}
        {{/if}}
    {{/each}}
</main>

<div class="hidden" >
    {{#each datasets}}
        {{#if this.position.hidden}}
            {{> serverDS}}
        {{/if}}
    {{/each}}
</div>

<script language="JavaScript">
    const report = {
        name: "{{name}}",
        moment: "{{moment}}",
        momentString: "{{momentString}}",
        profile: "{{profile}}",
        url: "{{{url}}}",
        style: "{{style}}",
        datasets:[
            {{#each datasets}}
                {
                    name:"{{this.name}}",
                    columns: {},
                    data: [ {{{this.JSONData}}}]
                },
            {{/each}}
                ]
    }
    </script>
