<header>
    {{#each datasets}}
        {{#if this.position.header}}
        <div id="dataset_{{this.name}}" class="{{this.options.style}}">
            <h2>{{this.name}}</h2>
            <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>
            {{this.url}}
            {{{this.html}}}
            </div>
        {{/if}}
    {{/each}}
</header>

<h1>{{name}}</h1>
<div>{{momentString}} Prof: {{profile}}ms  </div>
<main >
    {{#each datasets}}
        {{#if this.position.main}}
            <div id="dataset_{{this.name}}" class="{{this.options.style}}">
            <h2>{{this.name}}</h2>
            <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>
            {{this.url}}
                {{{this.html}}}
            </div>
        {{/if}}
    {{/each}}
</main>
<div class="hidden" >
    {{#each datasets}}
        {{#if this.position.hidden}}
            <div id="dataset_{{this.name}}" class="{{this.options.style}}">
            <h2>{{this.name}}</h2>
            <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>
            {{this.url}}
            {{{this.html}}}
            </div>
        {{/if}}
    {{/each}}
</div>