<header>
    {{> logo}}
    <h1 class="report_name">{{name}}</h1>
    <div>{{momentString}} Prof: {{profile}}ms  </div>

    {{#each datasets}}
        {{#if this.position.header}}
            {{> serverDS}}
        {{/if}}
    {{/each}}
</header>

<div class="container">
    <div class="form_menu">
        <div class="hide_button toggle_hide icon" data-target="nav" data-level="1" data-toggleclass="hide_anim">
        </div>
        <nav>
            {{#each datasets}}
                {{#if this.position.nav}}
                    {{> serverDSnav}}
                {{/if}}
            {{/each}}
        </nav>
    </div>

    <div id="overlay" class="hidden">
        <div class="xmark toggle_hide" data-target="#overlay" data-level="0" data-toggleclass="hidden">
        </div>
        <div class="table_info">
        </div>
    </div>

    <div class="tabs">
        {{#each datasets}}
            {{> tabs}}
        {{/each}}
    </div>

    <main>
        {{#each datasets}}
            {{#if this.position.main}}
                {{> serverDS}}
            {{/if}}
        {{/each}}
    </main>
</div>

<div class="hidden" >
    {{#each datasets}}
        {{#if this.position.hidden}}
            {{> serverDS}}
        {{/if}}
    {{/each}}
</div>

<script language="JavaScript">
    const report = {
        name: "{{name}}",
        moment: "{{moment}}",
        momentString: "{{momentString}}",
        profile: "{{profile}}",
        url: "{{{url}}}",
        style: "{{style}}",
        datasets:[
            {{#each datasets}}
                {
                    name:"{{this.name}}",
                    columns: {},
                    data: [ {{{this.JSONData}}}]
                },
            {{/each}}
                ]
    }
    </script>
