<div id="dataset_{{this.name}}" class="{{this.options.style}} scroll dataset" data-src="{{this.url}}">
    <h2>{{this.name}}</h2>
    <div>{{this.description}} ({{this.loadTime}}ms  {{rows}} rows)</div>
    <div class="table">
        {{{this.html}}}
    </div>
</div>